{% extends "base.html" %}

{% block head %}
<link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600" rel="stylesheet">
{% endblock%}
{% block style %}{{ style.doc }}{% endblock%}

{% block header %}
<a href="{{docs_url}}/"><img src="{{site_url}}/img/logo.svg" alt="{{ settings.name }}" width="129" height="187"></a>
<h1>{{ settings.docs[lang.id].name }}</h1>
{% endblock %}

{% block main %}

<menu>
    <a href="/" class="icon">Home</a>
</menu>

<div id="search">
    <input type="search" autocomplete="off" placeholder="Click or press 'S' to search...">
    <ul></ul>
</div>
<div id="c">
    {% block body %}{% endblock %}
</div>
{% endblock %}

{% block endbody %}
<script src="{{site_url}}/main.js"></script>
<script src="{{docs_url}}/{{lang.id}}/index.js"></script>
{% endblock %}

{% macro namespace_nav(path_prefix='') -%}
{% if parent.classes|length %}
<h3>{% if lang.id == "c" %}Structs{% else %}Classes{% endif %}</h3>
<ul>
{% for class in parent.classes %}
<li><a href="{{class.url|relativize}}"{% if t == "cls" and class.name == name %}class="current"{% endif %}>{{ class.name }}</a></li>
{% endfor %}
</ul>
{% endif %}

{% if parent.namespaces|length %}
<h3>{{lang.namespace_name}}s</h3>
<ul>
{% for ns in parent.namespaces %}
    <li><a href="{{ ns.url|relativize }}"{% if t == "ns" and ns.name == name %}class="current"{% endif %}>{{ ns.name }}</a></li>
{% endfor %}
</ul>
{% endif %}

{% if parent.functions|length %}
<h3>Functions</h3>
<ul>
{% for d in parent.functions %}
<li><a href="{{ d.url|relativize }}">{{ d.name }}</a></li>
{% endfor %}
</ul>
{% endif %}

{% if parent.enums|length %}
<h3>Enums</h3>
<ul>
{% for d in parent.enums %}
<li><a href="{{ d.url|relativize }}"{% if t == "enum" and d.name == name %} class="current"{% endif %}>{{ d.name }}</a></li>
{% endfor %}
</ul>
{% endif %}

{% if parent.defines|length %}
<h3>Defines</h3>
<ul>
{% for d in parent.defines %}
<li><a href="{{ d.url|relativize }} ">{{ d.name }}</a></li>
{% endfor %}
</ul>
{% endif %}
{%- endmacro%}
