<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ site_url }}/img/favicon.png">
    {% block head %}{% endblock %}
    <style>{{ style.clear }}{% block style %}{% endblock %}</style>
</head>

<body>
    {% block beginbody %}{% endblock %}
    <nav id="nav">
        <header>
            {% block header %}{% endblock %}
        </header>
        {% block nav %}{% endblock %}
    </nav>
    <main>
        {% block main %}{% endblock %}
    </main>
    {% block endbody %}{% endblock %}
</body>
</html>
