{% extends "apidoc_base.html" %}
{% from "apidoc_base.html" import namespace_nav with context %}
{% from "macros.html" import doc_list with context %}


{% set parts = sig.split('::') %}

{% block title %}{{ lang.namespace_sep.join(parts) }} - {{ settings.docs[lang.id].name }}{% endblock %}

{% block nav %}
<h2 class="ccls">
    {% for name in parts[:-1] %}<a href="{{ '../' * ((parts|length) - loop.index) }}">{{ name }}</a>{% if not loop.last %}{{ lang.namespace_sep }} {% endif %}{% endfor %}
</h2>

{{ namespace_nav("../") }}

{% endblock %}


{% block body %}
<h1 class="ccls">
# if lang.id == "c"
Struct <i>{{ name }}</i>
# else
Class {% for name in parts %}{% if loop.last %}<i>{{ name }}</i>{% else %}<a href="{{ '../' * ((parts|length) - loop.index) }}">{{ name }}</a>{{ lang.namespace_sep }}{% endif %}{% endfor %}
# endif
</h1>

{{ brief|docstr(id) }}
{{ detailed|docstr(id) }}


{% if classes|length %}
<h2>Inner {% if lang.id == "c" %}Structs{% else %}Classes{%endif%}</h2>
<ul class="table">
{% for class in classes %}
<li><a href="{{class.url|relativize}}" class="cls">{{ class.name }}</a> <p>{{ class.brief|docstr(class.id, breakless=True, nolink=True) }}</p></li>
{% endfor %}
</ul>
{% endif %}



{% if enums|length %}
<h2>Enums</h2>
<ul class="table">
{% for def in enums %}
<li><a href="{{def.url|relativize}}" class="enum">{{ def.name }}</a> <p>{{ def.brief|docstr(def.id, breakless=True, nolink=True) }}</p></li>
{% endfor %}
</ul>
{% endif %}



{{ doc_list(functions|rejectattr("static"), "Methods") }}
{{ doc_list(functions|selectattr("static"), "Static Methods") }}

{% if defines|length %}
<h2>Members</h2>
<dl>
# for m in defines
<dt id="{{ m.id }}">{%if lang.id != "python"%}{{ m.type() }}&nbsp;{%endif%}{{ m.name }}{% if m.initializer %} {{m.initializer}}{%endif%}{{ m.argsstring }}</dt>
<dd>
{{ m.brief|docstr(m.id) }}
{{ m.detailed|docstr(m.id) }}
</dd>
# endfor
</dl>
{% endif %}

{% endblock %}
