{% extends "apidoc_base.html" %}
{% from "apidoc_base.html" import namespace_nav with context %}
{% from "macros.html" import doc_list with context %}

{% block title %}{{ settings.name }} - {{ settings.docs[lang.id].name }}{% endblock %}


{% block body %}
<h1 class="cns">{{ settings.name }}</h1>

{{ brief|docstr(id) }}
{{ detailed|docstr(id) }}

{% macro member_list(list, label) -%}
{% if list|length %}
<h2>{{ label }}</h2>
<ul class="table">
{% for m in list %}
<li id="{{m.id}}"><a href="{{m.url|relativize}}" class="{{m.t}}">{{ m.name }}</a> <p>{{ m.brief|docstr(m.id, breakless=True, nolink=True) }}</p></li>
{% endfor %}
</ul>
{% endif %}
{%- endmacro %}

{{ member_list(namespaces, lang.namespace_name+"s") }}
{{ member_list(files, "Files") }}
{% endblock %}
