@base:#fff;
@selected:#f5f5f5;
@hover:#eee;

.tc {
	display:flex;
	position:relative;
    overflow:auto;
    margin-bottom:10px;
	
    label {
        touch-action: manipulation;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-tap-highlight-color: transparent;
    }
	
	input {
		opacity:0;
		display:none;
	}
	div {
        color:#aaa;
        font-family: sans-serif;
		font-size:15px;
		padding:0 19.5px;
        font-weight:500;
		cursor:pointer;
		line-height:40px;
        user-select: none;

		&:hover {
            color:#555;
			background:@hover;
		}
	}
	input:checked + div {
		display:block;
        background:@selected;
        color:#222;
	}
	input:checked + div pre {
		opacity:1;
		display:block;
	}
	pre {
        overflow:unset;
        color:black;
		display:none;
		position:absolute;
		opacity:0;
		left:0;
        padding:0;
        width:100%;
    }
	pre code {
		position:absolute;
		top:0;
		cursor:text;
        user-select: initial;
        padding:10px 20px;
        background:@selected;
        width:100%;
        box-sizing: border-box;
	}
}
.tc>pre {
    display:block;
    position:relative;
    padding-top:60px;
}
